name: Docker
description: Login, build, and push to GHCR

inputs:
  token:
    description: GitHub token for GHCR
    required: true
  context:
    description: Docker build context path
    required: true
  image:
    description: Image name (without registry)
    required: true

runs:
  using: composite
  steps:
  - uses: docker/login-action@v3
    with:
      registry: ghcr.io
      username: ${{ github.actor }}
      password: ${{ inputs.token }}

  - uses: docker/build-push-action@v5
    with:
      context: ${{ inputs.context }}
      push: true
      tags: ghcr.io/${{ github.repository }}/${{ inputs.image }}:latest
